/* styles/Home.module.css */

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  text-align: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  font-size: 1.5rem;
}

/* Thay vì sử dụng h1, h2 toàn cục, tạo các class local */
.title {
  font-size: 3rem;
  margin: 1rem 0;
}

.subtitle {
  font-size: 2.5rem;
  margin: 1rem 0;
}

button {
  padding: 10px 20px;
  font-size: 1.5rem;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #4CAF50;
  color: white;
}
